<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../static/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script defer src="../static/app.js"></script>

<body>
  
<div id="box"> 
 
  <p class="animation" > Welcome to...</p>
  <a class="animation2" href="https://github.com/koenry/Flask-PyTorch-Chatbot" target="_blank">
    Koenry's ChatBot
    
    
  </a>
  <p class="animation3"> Start Chatting!</p>
  
  
</div>
<div class='gridItem'>
  <input id="textInput" onblur="this.focus()" autofocus  form autocomplete="off" type="text"  name="fname" autofocus>    
</div>

</body>
</html>
