<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../static/styles.css">

<script defer src="../static/app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<body>
  <div class="container">
      <p> Simple ChatBOT</p>  
</div>
<div id="box"> 
</div>
<div class='gridItem'><input id="textInput" type="text"  name="fname" autofocus><br><br></div>
</body>
</html>
